/*
selector{
    propiedad:valor;
}
*/

header{
    background-color:#162c56;
    text-align: center;
    height: 50px;
    margin-top: 0%;
    font-family: 'Playfair Display', serif;
}

body{
    /*Color de fondo*/
    background-color:#91cdfa;
    /*Fuente del texto*/
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.main-title{
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 30px;
    background-color:#385581;
    margin-top: 0;
}

img{
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
   
}

/*p{
    /*Color del parrafo
    color: blueviolet;
}*/

.menu{
    display: flex;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

 a{
    font-family: 'Lora', serif;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin-right: 40px;
 }

 .localizacion{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: justify;
 }

 .subtitulo{
    color: #4577a3;
 }